<div id="sound">
  <embed src="../../static/typing.mp3" loop="false" autostart="0" type="audio/mpeg"  hidden="true" />
  </div>

      font-family: brandon-grotesque,HelveticaNeue-Light,"Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;

          font-family: adobe-garamond-pro,HelveticaNeue-Light,"Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;

              font-family: 'adobe-garamond-pro', 'Adobe Garamond', "Garamond", Times, serif;
/* for header scroll */
          var lastScrollTop = 0;
$(window).scroll(function(event){
   var st = $(this).scrollTop();
   if (st > lastScrollTop){
       // downscroll code
   } else {
      // upscroll code
   }
   lastScrollTop = st;
});