	body
  {
    margin: 0px;
    padding : 0px;
    background: #333;
  }
  #sound
  {
    position: fixed;
  }
  [hidden]
  {
  	display: block;
  }
   #container_main
  {
	  position: relative;
	  width: 100%;
	  height: 100%;
	  overflow: auto;
	  padding : 0 0 0 0;
  }
  #main_logo
  {
  	 position:absolute; /*it can be fixed too*/
        left:0; right:0;
        top:0; bottom:0;
        margin:auto;
  }